<p>comment-table works!</p>
<a type="button" class="btn" (click)="retrieveReviews()">Retrieve Reviews</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Book ID</th>
            <th scope="col">Score</th>
            <th scope="col">Comment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of reviews">
            <td>{{review.id}}</td>
            <td>{{review.score}}/5.0</td>
            <td>{{review.review_text}}</td>
            <td>
                <button type="input" class="btn btn-warning">Update</button>
                <button type="input" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>